.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/RadiosUpdated.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
android/android.iml
android/.build/generated/source/aidl/debug/org/kde/necessitas/ministro/IMinistro.java
android/.build/generated/source/aidl/debug/org/kde/necessitas/ministro/IMinistroCallback.java
android/.build/generated/source/buildConfig/debug/com/ahmed/biladiradio/BuildConfig.java
android/.build/intermediates/incremental/aidl/debug/dependency.store
android/.build/intermediates/incremental/mergeAssets/debug/merger.xml
android/.build/intermediates/incremental/mergeResources/debug/merger.xml
android/.build/intermediates/manifests/full/debug/AndroidManifest.xml
android/.build/intermediates/res/debug/drawable/icon.png
android/.build/intermediates/res/debug/layout/splash.xml
android/.build/intermediates/res/debug/values/values.xml
android/.build/intermediates/res/debug/values-de/values.xml
android/.build/intermediates/res/debug/values-el/values.xml
android/.build/intermediates/res/debug/values-es/values.xml
android/.build/intermediates/res/debug/values-et/values.xml
android/.build/intermediates/res/debug/values-fa/values.xml
android/.build/intermediates/res/debug/values-fr/values.xml
android/.build/intermediates/res/debug/values-id/values.xml
android/.build/intermediates/res/debug/values-it/values.xml
android/.build/intermediates/res/debug/values-ja/values.xml
android/.build/intermediates/res/debug/values-ms/values.xml
android/.build/intermediates/res/debug/values-nb/values.xml
android/.build/intermediates/res/debug/values-nl/values.xml
android/.build/intermediates/res/debug/values-pl/values.xml
android/.build/intermediates/res/debug/values-pt-rBR/values.xml
android/.build/intermediates/res/debug/values-ro/values.xml
android/.build/intermediates/res/debug/values-rs/values.xml
android/.build/intermediates/res/debug/values-ru/values.xml
android/.build/intermediates/res/debug/values-zh-rCN/values.xml
android/.build/intermediates/res/debug/values-zh-rTW/values.xml
android/.build/outputs/logs/manifest-merger-debug-report.txt
android/.gradle/2.2.1/taskArtifacts/cache.properties
android/.gradle/2.2.1/taskArtifacts/cache.properties.lock
android/.gradle/2.2.1/taskArtifacts/fileHashes.bin
android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
android/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
android/.idea/copyright/profiles_settings.xml
android/.idea/libraries/mockable_android_25.xml
android/src/com/ahmed/biladiradio/NotificationClient.java
android/.build/generated/source/buildConfig/androidTest/debug/com/ahmed/radios/test/BuildConfig.java
android/.build/generated/source/buildConfig/debug/com/ahmed/radios/BuildConfig.java
android/.build/generated/source/r/debug/com/ahmed/radios/R.java
android/.build/intermediates/mockable-android-25.jar
android/.build/intermediates/classes/androidTest/debug/com/ahmed/radios/test/BuildConfig.class
android/.build/intermediates/classes/debug/com/ahmed/radios/BuildConfig.class
android/.build/intermediates/classes/debug/com/ahmed/radios/NotificationClient.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R$array.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R$attr.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R$drawable.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R$layout.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R$string.class
android/.build/intermediates/classes/debug/com/ahmed/radios/R.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistro$Stub$Proxy.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistro$Stub.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistro.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistroCallback$Stub$Proxy.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistroCallback$Stub.class
android/.build/intermediates/classes/debug/org/kde/necessitas/ministro/IMinistroCallback.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtActivity.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtActivityLoader$1.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtActivityLoader$2.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtActivityLoader$3.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtActivityLoader.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtApplication$InvokeResult.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtApplication.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$1.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$2.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$3$1$1.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$3$1.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$3.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader$4.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtLoader.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtService.class
android/.build/intermediates/classes/debug/org/qtproject/qt5/android/bindings/QtServiceLoader.class
android/.build/intermediates/incremental/aidl/androidTest/debug/dependency.store
android/.build/intermediates/incremental/mergeAssets/androidTest/debug/merger.xml
android/.build/intermediates/incremental/mergeResources/androidTest/debug/merger.xml
android/.build/intermediates/manifests/androidTest/debug/AndroidManifest.xml
android/.build/intermediates/resources/resources-debug-androidTest.ap_
android/.build/intermediates/resources/resources-debug.ap_
