.idea/*
android/android.iml
android/.gradle/*
android/.idea/*
android/.build/*
MyApplication/*
.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/RadiosUpdated.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
