.idea/compiler.xml
.idea/misc.xml
.idea/modules.xml
.idea/RadiosUpdated.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/copyright/profiles_settings.xml
android/android.iml
android/.build/generated/source/aidl/debug/org/kde/necessitas/ministro/IMinistro.java
android/.build/generated/source/aidl/debug/org/kde/necessitas/ministro/IMinistroCallback.java
android/.build/generated/source/buildConfig/debug/com/ahmed/biladiradio/BuildConfig.java
android/.build/intermediates/incremental/aidl/debug/dependency.store
android/.build/intermediates/incremental/mergeAssets/debug/merger.xml
android/.build/intermediates/incremental/mergeResources/debug/merger.xml
android/.build/intermediates/manifests/full/debug/AndroidManifest.xml
android/.build/intermediates/res/debug/drawable/icon.png
android/.build/intermediates/res/debug/layout/splash.xml
android/.build/intermediates/res/debug/values/values.xml
android/.build/intermediates/res/debug/values-de/values.xml
android/.build/intermediates/res/debug/values-el/values.xml
android/.build/intermediates/res/debug/values-es/values.xml
android/.build/intermediates/res/debug/values-et/values.xml
android/.build/intermediates/res/debug/values-fa/values.xml
android/.build/intermediates/res/debug/values-fr/values.xml
android/.build/intermediates/res/debug/values-id/values.xml
android/.build/intermediates/res/debug/values-it/values.xml
android/.build/intermediates/res/debug/values-ja/values.xml
android/.build/intermediates/res/debug/values-ms/values.xml
android/.build/intermediates/res/debug/values-nb/values.xml
android/.build/intermediates/res/debug/values-nl/values.xml
android/.build/intermediates/res/debug/values-pl/values.xml
android/.build/intermediates/res/debug/values-pt-rBR/values.xml
android/.build/intermediates/res/debug/values-ro/values.xml
android/.build/intermediates/res/debug/values-rs/values.xml
android/.build/intermediates/res/debug/values-ru/values.xml
android/.build/intermediates/res/debug/values-zh-rCN/values.xml
android/.build/intermediates/res/debug/values-zh-rTW/values.xml
android/.build/outputs/logs/manifest-merger-debug-report.txt
android/.gradle/2.2.1/taskArtifacts/cache.properties
android/.gradle/2.2.1/taskArtifacts/cache.properties.lock
android/.gradle/2.2.1/taskArtifacts/fileHashes.bin
android/.gradle/2.2.1/taskArtifacts/fileSnapshots.bin
android/.gradle/2.2.1/taskArtifacts/outputFileStates.bin
android/.gradle/2.2.1/taskArtifacts/taskArtifacts.bin
android/.idea/compiler.xml
android/.idea/gradle.xml
android/.idea/misc.xml
android/.idea/modules.xml
android/.idea/runConfigurations.xml
android/.idea/workspace.xml
android/.idea/copyright/profiles_settings.xml
android/.idea/libraries/mockable_android_25.xml
android/src/com/ahmed/biladiradio/NotificationClient.java
